.heading-1 {
  font-size: 6rem;
  color: $color-red;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
}
.heading-2 {
  font-size: 4rem;
  color: white;
  font-family: "Fredoka One", cursive;
}
.heading-3 {
  font-size: 3rem;
  color: white;
  font-family: "Fredoka One", cursive;
}

.main-text {
  font-size: 2rem;
  color: white;
  font-family: "Fredoka One", cursive;
}
