.heading-1 {
  font-size: 6rem;
  color: $color-red;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
}
.heading-2 {
  font-size: 4rem;
  color: white;
  font-family: "Fredoka One", cursive;

  @include respond(phone-big) {
    font-size: 5rem;
    text-align: center;
  }
}
.heading-3 {
  font-size: 3rem;
  color: white;
  font-family: "Fredoka One", cursive;
}

.main-text {
  font-size: 2rem;
  color: white;
  font-family: "Fredoka One", cursive;
}
.text-green {
  color: $color-green !important;
}
.button-text {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: $color-green;
  font-size: 3rem;
}
