// GRID DIMENSIONS

$grid-width: 114rem;
$gutter-vertical-small: 4rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLORS

$color-red: rgb(155, 0, 0);
$color-red-light: rgb(206, 8, 8);
$color-yellow: rgb(220, 150, 0);
$color-yellow-light: rgb(243, 201, 12);
$color-green: rgb(0, 86, 0);
$color-green-light: rgb(0, 121, 0);
$color-dark-grey: rgb(61, 61, 61);
