.button-text {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: $color-green;
  font-size: 3rem;

  @include respond(tab-port) {
    font-size: 2.5rem;
  }
}

.heading-1 {
  font-size: 6rem;
  color: $color-red;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
}
.heading-2 {
  font-size: 4rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;

  @include respond(tab-land) {
    font-size: 5rem;
    text-align: center;
  }
}
.heading-3 {
  font-size: 3rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;

  @include respond(tab-land) {
    font-size: 3.5rem;
  }
}

.main-text {
  font-size: 2rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;
}
