*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 18.75em) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

.heading-1 {
  font-size: 6rem;
  color: #9b0000;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
}

.heading-2 {
  font-size: 4rem;
  color: white;
  font-family: "Fredoka One", cursive;
}

.heading-3 {
  font-size: 3rem;
  color: white;
  font-family: "Fredoka One", cursive;
}

.main-text {
  font-size: 2rem;
  color: white;
  font-family: "Fredoka One", cursive;
}

.text-green {
  color: green !important;
}

.button-text {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: #005600;
  font-size: 3rem;
}

.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.text-white {
  color: white !important;
}

.menu__card {
  width: 85%;
  margin: 0rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[5];
      grid-template-rows: repeat(5, -webkit-min-content);
      grid-template-rows: repeat(5, min-content);
  padding: 3rem;
  grid-row-gap: 2rem;
  grid-column-gap: 4rem;
}

.menu__card--yellow {
  background: -webkit-gradient(linear, right bottom, left top, from(#dc9600), to(#f3c90c));
  background: linear-gradient(to left top, #dc9600, #f3c90c);
}

.menu__card--red {
  background: -webkit-gradient(linear, right bottom, left top, from(#9b0000), to(#ce0808));
  background: linear-gradient(to left top, #9b0000, #ce0808);
}

.menu__card--green {
  background: -webkit-gradient(linear, right bottom, left top, from(#005600), to(#007900));
  background: linear-gradient(to left top, #005600, #007900);
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
}

.menu__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.navigation__item {
  text-decoration: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: 2rem;
  text-align: center;
}

.navigation__item:hover {
  background-color: #005600;
}

.navigation__item:hover > .button-text {
  color: white;
}

.navigation__link {
  cursor: pointer;
  text-decoration: none;
}

.navigation__active {
  background-color: #005600 !important;
}

.navigation__active > .button-text {
  color: white;
}

.logo {
  height: 15rem;
  width: 15rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1-of-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 6rem) / 2);
          flex: 0 0 calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (2 * 6rem)) / 3);
          flex: 0 0 calc((100% - (2 * 6rem)) / 3);
}

.col-2-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
          flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.col-1-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (3 * 6rem)) / 4);
          flex: 0 0 calc((100% - (3 * 6rem)) / 4);
}

.col-2-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
          flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}

.col-3-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
          flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}

.menu__heading {
  margin: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (min-content)[3];
      grid-template-rows: repeat(3, -webkit-min-content);
      grid-template-rows: repeat(3, min-content);
  grid-row-gap: 10rem;
  margin-bottom: 5rem;
}
/*# sourceMappingURL=page2Main.css.map */