.book {
  grid-row: 5 / 6;
  margin: 5rem 0rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-column-gap: 2rem;

  &__image {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &--file {
      height: 90%;
      width: 90%;
      box-shadow: 0rem 1rem 2rem rgba(black, 0.5);
    }
  }

  &__text {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 1.5rem;
  }
}
