.button-text {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: $color-green;
  font-size: 3rem;
}

.heading-1 {
  font-size: 6rem;
  color: $color-red;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
}
.heading-2 {
  font-size: 4rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;
}
.heading-3 {
  font-size: 3rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;
}

.main-text {
  font-size: 2rem;
  color: $color-green;
  font-family: "Fredoka One", cursive;
}
.text-green {
  color: $color-green !important;
}
.text-yellow {
  color: $color-yellow !important;
}
.text-red {
  color: $color-red !important;
}
.text-white {
  color: white !important;
}
.center-text {
  text-align: center;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.heading {
  margin: 5rem 0rem;
}
